/*common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;

}

.orangetext {
    color: #FD6E0A;
}

.button1 {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.sectitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.secdesc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.navtitle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url("../images/developer.png"); 
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* banner related styles */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .propic {
    height: 650px;
    width: 550px;
}

.bannergreet {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.bannertitle {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bannerdesc {
    margin-top: 20px;
    margin-bottom: 30px;
}

.bannercont {
    max-width: 550px;
}

/* main section styles*/
main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    margin-top: 130px;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}

.aboutinfocontainer {
    display: flex;
    justify-content: space-around;
}

.aboutinfo {
    text-align: center;
}

#whatidodesc {
    padding: 30px 150px;
}

.skillcontainer {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skilldesc {
    color: #757575;
}

/*Resume Section Styles*/

.resumecolumntitle {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resumecontainer {
    display: flex;
    gap: 50px;
}

.resumeiteminstitute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resumeitemdesc,
.resumeiteminstitute {
    color: #757575;
}

.resumeitemtitle {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resumecontainer hr{
    margin: 5px;
}

.downloadcv{
    text-align: center;
    margin-top: 50px;
}

/* footer section styles*/

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 230px ;
    margin-top: 100px;
}

.footercolumn{
    width: 50%;
}

.social a{
    margin-right: 25px;
}

.contact input[type='text'], .contact input[type='email'], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    width: 100%;
}